@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700&family=Cairo:wght@600&display=swap');

:root {--bs-font-sans-serif:"Noto Sans KR";}

/* header */
.header {border-top:7px solid #FFDA57;}
.header .navbar-brand {width:118px;margin:5px 0}
.header .navbar-brand img {width:100%;}
.header .navbar-toggler {font-size:16px;border:0;}
/* top menu */
.header .tnb li a {position:relative;display:block; height:50px; font-size:14px; line-height:50px; color:#888; padding:0 20px;text-decoration:none;}
.header .tnb li a::after {content:"";position:absolute; top:50%; right:0; width:1px; height:8px;background:#d5d5d5;transform:translateY(-50%);transition:0.3s}
.header .tnb li a:hover {text-decoration:underline;}
.header .tnb .search a::after,
.header .tnb .allmenu a::after {display:none;}
.header .tnb .search a, 
.header .tnb .allmenu a {color:#43444B;line-height:50px}
.header .tnb .search a {padding-right:10px}
.header .tnb .allmenu a {padding-left:10px}
.header .tnb .nav > li > a:hover,
.header .tnb .nav > li > a:focus {
	text-decoration: underline;
	background-color: transparent;
}
.gnb {width:100%;border-top:1px solid #E7E7E7;}
.gnb .navbar-nav {width:100%;justify-content:space-between;
	--bs-nav-link-color:#43444B;
	--bs-nav-link-hover-color:#ffc107;}
.gnb .navbar-nav .nav-item {font-size:16px;font-weight:500;color:#43444B;}

@media (min-width: 991px) {
	.header.navbar {flex-direction:column;padding:0}
    .header > .container {position:relative;height:138px;align-items:flex-start;}
    .navbar-expand-lg .navbar-collapse {justify-content:flex-end;}
    .header .navbar-brand {position:absolute;display:inline-block;left:50%;top:50%;width:148px;transform:translate(-50%,-50%);}
	.gnb .navbar-nav .nav-item {font-size:18px;}
}

/* main */
/* page title */
.sub_tit {height:70px; background:#43444B}
.sub_tit .tit {font-size:1.6em; font-weight:500; color:#fff;}

/* page location */
.location {background:#f9f9f9;}
.breadcrumb {height:60px;font-size:14px;color:#888;margin:0}
.breadcrumb-item+.breadcrumb-item::before {content:">";color:#888;}
.breadcrumb-item.active {font-weight:500;color:#43444B;}

/* faq */
.faq {background:#f9f9f9;padding:30px 0 80px 0}

.faq_search {position:relative;margin-bottom:25px}
.faq_search input {width:100%;height:57px;border:1px solid #dbdbdb;padding:0 50px 0 20px;}
.faq_search button {position:absolute; right:0; top:0; width:57px; height:100%; background:none; border:none; box-shadow:none;cursor:pointer;transition:none}
.faq_search button i {color:#878787}
.faq_tab {display:grid;grid-template-columns:33.3% 33.3% 33.3%;background:#fff;box-shadow:0px 1px 3px 0px rgb(0 0 0 / 6%);}
.faq_tab, .faq_tab li {list-style:none;padding-left:0}
.faq_tab li {text-align:center;border-top:1px solid #efefef;border-left:1px solid #efefef;padding:20px 0;transition: 0.3s;cursor:pointer;}
.faq_tab li.on {border-top:1px solid #FFDA57;border-left:1px solid #FFDA57;background:#FFDA57;color:#fff}

.faq_list, .faq_list li {list-style:none;padding-left:0}
.faq_list li {position:relative;background:#fff;box-shadow:0px 1px 3px 0px rgb(0 0 0 / 6%);margin-top:30px;}
.faq_list li .question {font-weight:500;padding:27px 67px 27px 35px;cursor:pointer;}
.faq_list li .question p {margin-bottom:0}
.faq_list li.active .question {color:#FFD23D;}
.faq_list li .question::after {content:"";display:block;position:absolute;right:30px;top:27px;width:24px;height:24px;background:url("../resources/images/kej/ico_plus.svg") 50% 50% no-repeat}
.faq_list li.active .question::after {background-image:url("../resources/images/kej/ico_minus.png")}
.faq_list li .answer {visibility:hidden;height:0;color:#888;padding:0 35px;transition: 0.3s;}
.faq_list li .answer .text_wrap {visibility:hidden;height:0;display:flex;justify-content:flex-start;opacity:0;transition:0}
.faq_list li .answer .text_wrap p {margin-bottom:0}
.faq_list li.active .answer {visibility:visible;height:auto;color:#888;padding:5px 35px 40px}
.faq_list li.active .answer .text_wrap {visibility:visible;height:auto;display:flex;justify-content:flex-start;opacity:1}
.faq_list li .question span, .faq_list li .answer .text_wrap span {display:none}

/* footer */
.footer {border-top:1px solid #E7E7E7;}
.footer .fnb {padding:10px 0; border-bottom:1px solid #E7E7E7}
.footer .fnb .nav {
    --bs-nav-link-color: #888;
    --bs-nav-link-hover-color: #888;
}
.footer .fnb .nav-link:focus, .footer .fnb .nav-link:hover {text-decoration:underline;}
.footer .footer_body {padding:35px 0; color:#888;}
.footer .footer_body .ft_logo img {width:85%;}
.info_cont .licnese_area {font-size:14px;}
.info_cont .licnese_area span {position:relative;margin-bottom:6px; padding-right:20px}
.info_cont .licnese_area span::after {content:"";position:absolute; top:50%; right:10px; width:1px; height:12px;background:#878787;transform:translateY(-50%); }
.info_cont .licnese_area span:last-child::after {display:none;}
.info_cont .copy_area {padding-top:15px}
.info_cont .copy_area p {margin-bottom:0.25rem;}
.info_cont .copy_area p:last-child {padding-top:10px}

@media ( min-width: 768px ) {
	.sub_tit {height:100px}

	.faq {padding:30px 0 100px 0}
	.faq_list li .question {display:flex;justify-content:flex-start;align-items:center;font-size:20px;padding:30px 80px 30px 50px;}
	.faq_list li .question span, .faq_list li .answer .text_wrap span {display:inline-block;}
	.faq_list li .question span {width:7%;flex-shrink:0;font:700 22px 'Cairo'}
	.faq_list li .question::after {right:45px;top:37px;}
	.faq_list li .answer {padding:0 50px;}
	.faq_list li.active .answer {padding:10px 50px 40px}
	.faq_list li .answer .text_wrap span {width:7%;flex-shrink:0;font:700 24px 'Cairo';margin-top:-8px}
} 
@media ( min-width: 991px ) {
	.sub_tit {height:120px}
	.sub_tit .tit {font-size:2.125rem}
	
	.faq_tab {display:flex;font-size:18px;background:transparent;border:0;border-bottom:2px solid #efefef;box-shadow:none;}
	.faq_tab li {flex:1 1 auto;border:0;border-bottom:5px solid transparent;}
	.faq_tab li.on {color:#FFD23D;border:0;border-bottom:5px solid #FFDA57;background:transparent}
	
	.faq_search {margin-bottom:50px}
}